<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path, class: "btn btn-primary btn-lg btn-clrs" %>
<%end%>
    <% if @article.empty? %>
    <h1 id ="no-articles">
      No Articles Created
    </h1>
<% else %>
    <% @article.each do |art| %>
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to art.title, article_path(art) %>
          </div>
          <div class="article-body">
            <%= art.body %>
          </div>
          <div class="author">
            <small> Created by: <%= art.user.email %></small>
          </div>
        </div>
    <% end %>
<%end%>
